.formContainer {
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    flex-direction: column;
    justify-content: right;
    width: 600px;
    gap: 10px;
}

.subBut {
    display: flex;
    margin-top: 20px;
    width: 100px;
    margin-left: 20%;
    margin-right: 30%;
}
